<div
  mat-dialog-content
  class="modal-body form-container"
  style="width: 1280px; height: 520px"
>
  <div class="row">
    <div class="col-md-6">
      <h2>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="data.summary" />
        </mat-form-field>
      </h2>
      <h5>Description</h5>
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          cols="50"
          [(ngModel)]="data.description"
        ></textarea>
      </mat-form-field>
    </div>
    <!-- Right-aligned content -->
    <div class="col-md-6">
      <h5>Status</h5>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="data.statusId.id">
          <mat-option *ngFor="let status of statuses" [value]="status.id">
            {{ status.status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Details</mat-label>
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          cols="50"
          [(ngModel)]="data.details"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Assignee</mat-label>
        <mat-select [(ngModel)]="data.assigneeId">
          <mat-option *ngFor="let user of users" [value]="user"
            >{{ user.firstName }} {{ user.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Reporter</mat-label>
        <mat-select [(ngModel)]="data.reporterId">
          <mat-option *ngFor="let user of users" [value]="user"
            >{{ user.firstName }} {{ user.lastName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input
          matInput
          placeholder="Due Date"
          [matDatepicker]="picker"
          [(ngModel)]="data.dueDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="modal-footer">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="saveChanges()">Save Changes</button>
</div>
