.clickable {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .clickable:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  

.no-tasks {
    text-align: center;
    color: gray;
    font-weight: semi-bold;
  }

.add-task-card {
    border: none;
    box-shadow: none;
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.status-row {
  display: flex;
  flex-wrap: nowrap;
}

.status-card {
  flex-grow: 1;
  margin-right: 10px;
}

.add-status-card {
  width: 50px; /* Set the width to create a square */
  height: 50px; /* Set the height to match the width */
  margin-top: 0; /* Remove top margin to align with status cards */
}

.d-flex.align-items-center input.form-control {
  margin-right: 10px; /* Increase the margin between the input field and icons */
}

.d-flex.align-items-center .card {
  width: 50px; /* Set the width to create a square */
  height: 50px; /* Set the height to match the width */
  margin-right: 10px; /* Increase the margin between the icons */
}


  